<form action="/add-post" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="The title of your post">
    </div>
    <div class="form-group">
        <label for="description">Short description</label>
        <input type="text" class="form-control" id="description" name="description">
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" name="author" placeholder="Your name">
    </div>
    <div class="form-group">
        <label for="text">Text</label>
        <textarea class="form-control" id="text" name="text" rows="6" placeholder="Markdown is supported"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>