<div class="alert alert-danger">
    <p>
        Oops! An error has been occured:
    </p>
    <pre class="p-2">{{ errorMessage }}<br>Received status: {{ errorStatus }}</pre>
    <p>
        Keep calm and <a href="/" class="alert-link">go home</a>.
    </p>
</div>

