{{#each articles}}
    <div class="card my-4">
        <h5 class="card-header">{{ title }}</h5>
          <div class="card-body">
            <p class="card-text">{{ description }}</p>
            <a href="/article/{{ id }}"> See more...</a>
        </div>
    </div>
{{/each}}